{% extends 'base.html'%} {% block head%} {{super()}} {% endblock %} {% block nav
%} {{super()}} {% endblock %} {% block container %}
<div class="header">
  <h1>{% block title %} Artists {% endblock %}</h1>
  {% if current_user.is_authenticated and current_user.id == 3 %}
  <a href="/artists/add">
    <button type="button" class="btn-alt">Add</button>
  </a>
  {% endif %}
</div>
<!-- List of artists added -->
{% if not artists %}
<p>No artists added yet.</p>
{% else %}
<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      {% if current_user.is_authenticated and current_user.id == 3 %}

      <th scope="col">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for artist in artists %}
    <tr>
      <td>{{artist.name}}</td>
      {% if current_user.is_authenticated %}
      <td>
        <a href="/artists/{{artist.id}}">
          <button class="btn">Edit</button>
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
